
:root {
    --mainColor: #008000;
    --secondaryColor:#005900;

    --borderColor:#161914;

    --mainText:#fff;
    --secondaryText:#eeeeee;

    --themeDotBorder:#fff;

    --previewBg: rgb(0, 51, 0, 0.8);
    --previewShadow: #003300;

    --btnColor: #007f00;
}

.post-intro {
    color: #06121d;
    font-size: 14px;
}