
:root {
    --mainColor: #606;
    --secondaryColor:#515;

    --borderColor:#161914;

    --mainText:#fff;
    --secondaryText:#eeeeee;

    --themeDotBorder:#fff;

    --previewBg: rgb(89, 0, 89, 0.8);
    --previewShadow: #250025;

    --btnColor: #800080;
}

